<!doctype html>
<html>
<head>
<base href="/">
<meta charset="utf-8">
<title>Sample sass</title>
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
<!-- inject:css -->
<!-- endinject -->

<script src="node_modules/traceur/bin/traceur.js"></script>
<script src="node_modules/traceur/bin/BrowserSystem.js"></script>
<script src="node_modules/traceur/src/bootstrap.js"></script>
<script src="/bower_components/systemjs/build/system.min.js"></script>
<script src="config.system.js"></script>

<!-- inject:js -->
<!-- endinject -->

</head>

<body>
@@include('partial/_flex-grid.html')
<br />
<br />
@@include('partial/_underscore-input.html')

</body>
</html>
