@font-face {
    font-family: 'LFT_Etica_Light';
    src: url('../assets/fonts/LFT_Etica_Light.eot');
    src: url('../assets/fonts/LFT_Etica_Light.eot') format('embedded-opentype'),
         url('../assets/fonts/LFT_Etica_Light.woff2') format('woff2'),
         url('../assets/fonts/LFT_Etica_Light.woff') format('woff'),
         url('../assets/fonts/LFT_Etica_Light.ttf') format('truetype'),
         url('../assets/fonts/LFT_Etica_Light.svg#LFT_Etica_Light') format('svg');
}


@font-face {
    font-family: 'LFT_Etica_LightItalic';
    src: url('../assets/fonts/LFT_Etica_LightItalic.eot');
    src: url('../assets/fonts/LFT_Etica_LightItalic.eot') format('embedded-opentype'),
         url('../assets/fonts/LFT_Etica_LightItalic.woff2') format('woff2'),
         url('../assets/fonts/LFT_Etica_LightItalic.woff') format('woff'),
         url('../assets/fonts/LFT_Etica_LightItalic.ttf') format('truetype'),
         url('../assets/fonts/LFT_Etica_LightItalic.svg#LFT_Etica_LightItalic') format('svg');
}


@font-face {
    font-family: 'LFT_Etica_Semibold';
    src: url('../assets/fonts/LFT_Etica_Semibold.eot');
    src: url('../assets/fonts/LFT_Etica_Semibold.eot') format('embedded-opentype'),
         url('../assets/fonts/LFT_Etica_Semibold.woff2') format('woff2'),
         url('../assets/fonts/LFT_Etica_Semibold.woff') format('woff'),
         url('../assets/fonts/LFT_Etica_Semibold.ttf') format('truetype'),
         url('../assets/fonts/LFT_Etica_Semibold.svg#LFT_Etica_Semibold') format('svg');
}
