$fonts-main: 'LFT_Etica_Light', sans-serif;
$fonts-main-bold: 'LFT_Etica_Semibold', sans-serif;
$fonts-main-italic: 'LFT_Etica_LightItalic', sans-serif;
$fonts-main-open-sans: 'Open Sans', sans-serif;
$font-size: 1.8rem;
$font-size-subpage: 1.6rem;
$color-font-main: #6c6c6c;
$space-main: 85px;
$space-main-mobi: 0px;
$space-container-tablet: 32px;
$space-container-mobi: 64px;
$width-max-site: 1140px;
$width-max-tablet-small: 1023px;
$width-max-mobile-medium: 640px;
$width-max-mobile-small: 360px;
$width-max-mobile-smaller: 320px;
$a-color: #0085cd;